*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 10vh;
    background:#222222;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 10px rgba(37, 1, 95, 0.2);
    z-index: 1000;
}
.nav button{
    font-size: 1.5rem;
    background: none;
    border:none;
    color: aliceblue;
    padding: 10px 30px;
}
.nav2{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 10vh;
    background:#f8eeee;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgb(29, 2, 75);
    box-shadow: 0 2px 10px rgba(29, 2, 75, 0.2);
    z-index: 1000;
}
.nav2 button{
    font-size: 1.5rem;
    background: none;
    border:none;
    color:rgb(29, 2, 75);
    padding: 10px 30px;
}
.topnav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 3vh;
    background:#222222;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 10px rgba(37, 1, 95, 0.2);
    z-index: 1000;
}
