*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 70px;
    background:#222222;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
.nav button{    
    background: #300581;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    min-width: 100px;
    font-size: 1.5rem;
}
