.project-card {
      background: var(--paper); padding: 2.4rem 2.2rem;
      position: relative; overflow: hidden;
      transition: background 0.3s;
      opacity: 0; animation: fadeUp 0.5s ease forwards;
}
.project-card:hover::before {
      content: ""; position: absolute; top: 0; left: 0;
      width: 100%; height: 100%;
      background: rgba(255, 255, 255, 0.1);
      transform: translateX(-100%);
      transition: transform 0.3s;
}
.project-card::after{
        content: ""; position: absolute; top: 0; left: 0;
        width: 100%; height: 100%;
        background: rgba(255, 255, 255, 0.1);
        transform: translateX(100%);
        transition: transform 0.3s;
}