.bg-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vh;
    height: auto;
    border-radius: 10%;
}
.transparent-title-container{
    background: rgba(255, 255, 255, 0);
    padding: 20px;
    border-radius: 10px;
}
.heading{
    padding: 20px;
    text-align: center;
    color: #480895;
}
.subheading{
    text-align: center;
    color: #480895;
}