.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    height: 90vH;
}
.heading{
    text-align: center;
    color: #1E90FF;
}
.subheading{
    text-align: center;
    color: #1E90FF;
}