*{
    margin: 10;
    padding: 20;
}
.nav{
    background-color: rgb(78, 4, 99);
    border-bottom-left-radius: 20px ;
    border-bottom-right-radius: 20px ;
    width: 90%;
    height: 2cap;
    display: fixed;
    padding: 5%;
}
.nav button{    
    width: 10vh;
    height: 5vh;
    background-color: rgba(117, 39, 139, 0.8);
    color: white;
    text-decoration: none;
    border-radius: 20px;
    margin: 0 10px;
    font-size: 18px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vH;
}
.heading{
    text-align: center;
    color: #1E90FF;
}
.subheading{
    text-align: center;
    color: #1E90FF;
}